body {
	font-family: 'Dancing Script';
	background-color: black;
}

#cabecera{
	background-color: #5b7989;
	border-radius: 10px;
	padding: 10px 0 10px 0;
}

#cabecera h1{
	color: white;
	text-shadow: 2px 2px #02010a;
	display: inline;
	padding-left: 12px;
}

.menu{
	color: white;
}

#piePagina{
	background-color: #c6d5c5;
	clear: both;
	border-radius: 10px;
}

#central{
	background-color: #82c3a6;
	text-align: center;
	margin: 0;
}

.secundaria{
	background-color: #d5c75f;
	display: inline;
	float: left;
}

.images{
	text-shadow: 2px 2px #02010a;
	border: 1px black;
}

.image-central{
	width: 80%;
}

.image-secundaria{
	width: 45%;
}

.menu{
	display: inline-block;
	float: right;
	color: white;
}

.contenido {
	width: 900px;
}
